body {
    background-color: #f8f9fa;
    color: #212529;
}

h1,
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
}

.navbar-nav .nav-link {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #004085;
    color: #fff;
}

footer {
    border-top: 1px solid #dee2e6;
}
